{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>base</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <style type="text/css">
    
  </style>
</head>
<body class="container">
<!-- 	<a href="/">Home</a>
	<a href="/contact/">contact</a>
	<a href="/about/">about</a>
	<a href="/nepal/intro/">Nepal</a>
	<a href="/blog/list/">blog_list</a>
	<a href="/event/list/">event_list</a>
	<a href="/news/list/">news_list</a>
	<a href="/blog/create/">form</a> -->

<nav class="navbar navbar-expand-lg navbar-light bg-success">
  <!-- <a class="navbar-brand" href="#">MyBlog</a> -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/contact/">contact <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/about/">about<span class="sr-only">(current)</span></a>
      </li>
      <!--   <li class="nav-item active">
        <a class="nav-link" href="/nepal/intro/">Nepal <span class="sr-only">(current)</span></a>
      </li> -->
        <li class="nav-item active">
        <a class="nav-link" href="/blog/list/">blog_list <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/event/list/">event_list <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/news/list/">news_list</a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/blog/create/">blog_form<span class="sr-only">(current)</span></a>
      </li>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/news/create/">news_form<span class="sr-only">(current)</span></a>
      </li>
        <form class="form-inline my-2 my-lg-0" action="/search/">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
          <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
        </form>
    </ul> 

  </div>
</nav>

        <li class="nav-item active">
          {% if request.user.is_authenticated %}
           <p class="text-dark">{{request.user}}</p>
           <a href="/logout/">Logout</a>
          {% else %} 
            <a href="/login/">login</a>
          {% endif %}  
          
         </li>
         <br>
         <a href="{% url 'blogapp:userregistration' %}">Register</a>
      






   
  {% block content %}
  {% endblock %}
</body>
</html>