{% extends 'base.html' %}
{% load static %}
{%  block content %}
<div class="row">
	<div class="col-md-6">
		<h3>Add new blog</h3>
		<form method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			
		    <button>submit</button>
		</form>
    </div>
    <div class="col-md-6">

	    	{% for blog in blogs|slice:'2' %}
	    	<div class="row mt-2">
	    		<div class="col-md-6">
	    	       {{ blog.title|truncatechars:"10" }}
	    	    </div>
	    	    <div class="col-md-6">
	    	       
	    	    	<img src="{{blog.image.url}}" class="img-fluid">
	    	    </div>
   
	    	   
	    	</div>   
	    	{% endfor %}
	    
    </div>	

</div>
{% endblock %}