{% extends 'base.html' %}
{% load static %}
{% block content %}
 <!-- <h1>Hello this is a blog list</h1> -->
 <h3>list of blogs</h1>
	 {% for blog in allblogs %}
	  <!-- <h2>you have visited thsi page {{blog.visit}} times.</h2> -->
	   <h5><a href="/blog/{{blog.id}}/detail/">{{blog.title}}</a></h5>
	   <p>{{blog}}</p>
	   <p><img src="{{blog.image.url}}" width="200px;"></p>

	 {% endfor %}	

{% endblock %}