{% extends 'base.html' %}
{%  load static %}
{% block content %}
 Category:<h3>{{categorys.title}}</h3>
 {% for news in categorys.relatednews.all %}
  <p>NEWS: <a href="{% url 'blogapp:newsdetail' news.id %}">{{news.title}}</a></p>
 {% endfor %}
 <!-- <img src="{{category.image.url}}" width="200px"> -->
{% endblock %}


 <!-- news_set.all -->
