{% extends "base.html" %}
{% load static %}
{% block content %}
  <br>
  <h1>Hello this is a contactpage</h1>
  <form method="POST">
  	{% csrf_token %}
  	{{ form.as_p }}
  	<button class="btn btn-success">submit</button>
  	
  </form>
{% endblock %}