{% extends "base.html" %}
{% load static %}
{% block content %}
  <br>
  <h1>Hello this is a homepage</h1>
  <h5>{{django}}</h5>
  {% for blog in blogs %}
    <h5>{{blog.title}}</h5>
  {% endfor %}  
  <br>
   {% for event in events %}
    <h5>{{event.title}}</h5>
  {% endfor %}  
  <br>
  {% for category in categorylist %}
  <a href="{% url 'blogapp:categorydetail' category.id %}">{{category.title}}|</a>
  {% endfor %}
  <!-- {{request.user}} -->

{% endblock %}