{% extends "base.html" %}
{% load static %}
{% block content %}
<br>
<style type="text/css">
	.login{
			text-align: center;

	}
	

</style>

{% if error %}
	<li class="text-danger">{{error}}</li>
{% endif %}	
 <form method = "POST">
 	{% csrf_token %}
	 <div class="login">
	    <h1>Login</h1>	
	 	{{ form.as_p }}
	 	<button>Login</button>
	 </div>	

 </form>
{% endblock %}