{% extends 'base.html' %}
{%  load static %}
{% block content %}
<br>
  {% for news in allnews %}
    <h3><a href="/news/{{news.id}}/detail/"> {{ news.title }}</a></h3>
    <img src="{{ news.image.url }}" width="200px";>
     {% for category in news.category.all %}
      {{ category.title }}
    {% endfor %}
   
   <hr>
  {% endfor %}
{% endblock %}