{% extends 'base.html' %}
{% load static %}
{% block content %}
	<form method = "POST" enctype="multipart/form-data" id="user_form">
		<br>
		{% csrf_token %}
		{{ form.as_p }}

	   <button class="btn btn-primary">submit</button>	

	</form>
<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous">

</script>
<script type="text/javascript">
	$(document).on('submit','#user_form',functioon(e){
		e.preventDefault();
		$.ajax({
			type:'POST'
			url = '/user/registration/'
		})
	})
	

</script>	
{% endblock %}