{% extends 'base.html' %}
{%  load static %}
{% block content %}
<form  method="POST" action="/news/{{object.id}}/delete/">
	{% csrf_token %}
	 <h4>Are you sure you want to delete?{{object.title}}</h4>
     <button class="btn btn-danger">OK</button>
     <button><a href="/news/list/">Cancel</a></button>
	



</form>
  


{% endblock %}