{% extends 'base.html' %}
<!-- {%  load static %} -->
{% block content %}
   <h4>{{newsdetail.title}}</h4>
   <h4><li>{{newsdetail.category.image.url}}</li></h4>

   <h4>{{newsdetail.detail}}</h4>
   <img src="{{newsdetail.image.url}}">
   <h5>category:{{newsdetail.category}}</h5>
   <br>
   <h3>Related News</h3><hr>
   <p>you have visited this page {{newsdetail.visit_count}}</p>
   <div class="row">
   	{% for article in newsdetail.category.relatednews.all %}
   	    {% if article.id != newsdetail.id %}
	   	<div class="col-md-3">
	   		<a href="{% url 'blogapp:newsdetail' article.id %}"><h4>{{article.title}}</h4></a>
	   		<img src="{{article.image.url}}" class="img-fluid">
	   	
	   	</div>
	   	{% endif %} 	
   	
   </div>
   {% endfor %}

   <!-- {% for category in newsdetail.category.all %}
      <li>{{ category.title }}</li>
    {% endfor %} -->
    <a href="/news/{{newsdetail.pk}}/update/">Update</a>
    <a href="/news/{{newsdetail.pk}}/delete/">Delete</a>


{% endblock %}