{% extends 'base.html' %}
{% load static %}
{% block content %}
<h3>Search blogs</h3>
{% for blog in searchedblogs %}
  <li><a href="{% url 'blogapp:blogdetail' blog.id %}">{{blog.title}}</a></li>
  <p>{{blog.content|truncatewords:'20'}}</p>
{% empty %}
<h3>no blogs found</h3>

{% endfor %}
{% for news in searchednews %}
   <li><a href="{% url 'blogapp:newsdetail' news.id %}">{{news.title}}</a></li>
   <p>{{news.category}}</p>
{% endfor %}
{% endblock %}