{% extends 'base.html' %}
{% load static %}
{% block content %}
	<form method = "POST">
		<br>
		{% csrf_token %}
		{{ form.as_p }}

	   <button class="btn btn-info">submit</button>	

	</form>
{% endblock %}